[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "==0.12.2"
Werkzeug = ">=0.12.0,<0.13.0"
google = "*"
google-cloud = "*"

[requires]
python_version = "3.8"
